- if @run.finished?
  - cache do
    %h2.centered= "Richtige Antworten: #{@run.correct_answers_count}"

    %table.table.table-hover.result-table.centered
      %tr
        %th Plakattext
        %th
        %th Antwort
        %th Richtige Antwort

      - @run.result_list.each do |result|
        - lightbox_id = "lightbox-#{result[:poster].id}"
        %tr{"data-lightbox-id" => lightbox_id}
          %td
            = image_tag result[:poster].url.thumb.url, class: 'img-polaroid'
            .lightbox.fade{id: lightbox_id, tabindex: -1, role: 'dialog', "aria-hidden" => true, style: 'display:none'}
              .lightbox-content
                =image_tag result[:poster].url.w640.url, "data-dismiss" => "lightbox"
                .lightbox-caption
                  %p= result[:poster].text
                  %button.close{"type" => "button", "data-dismiss"=>"lightbox", "aria-hidden" => true} &times;
          %td
            - if result[:poster].party == result[:answered]
              %i.icon-ok-circle.text-success
            - else
              %i.icon-ban-circle.text-error
          %td= result[:answered].display_name
          %td= result[:poster].party.display_name

    .fb-share-button(data-href="https://developers.facebook.com/docs/plugins/" data-width="200" data-type="button_count")

- else
  .well.well-small.centered
    .progress-numbers.text-center
      %strong= @run.progress_numbers
    .progress.progress-foo
      .bar.lavish{style: "width: #{@run.progress_percent}%"}

  .poster-text.centered= simple_format(@run.current_poster.text)

  .well.well-small.centered
    - cache(action_suffix: "parties-#{@run.easymode}") do
      - parties = @run.easymode? ? Party.easy : Party.all
      - parties.sort_by(&:display_name).each do |party|
        = button_to party.display_name, answer_run_path(answer: party), method: :post, class: 'btn btn-primary party-select'

