.well.well-small.centered
  .progress-numbers.text-center
    %strong= @run.progress_numbers
  .progress.progress-foo
    .bar.lavish{style: "width: #{@run.progress_percent}%"}

- if @run.finished?

  %h2= "Richtige Antworten: #{@run.correct_answers_count}"

  %table.table.result-table
    %tr
      %th Plakattext
      %th
      %th Antwort
      %th Richtige Antwort

    - @run.result_list.each do |result|
      %tr
        %td
          - lightbox_id = "lightbox-#{result[:poster].id}"
          = link_to simple_format(result[:poster].text), "##{lightbox_id}", "data-toggle" => "lightbox"
          .lightbox.fade{id: lightbox_id, tabindex: -1, role: 'dialog', "aria-hidden" => true, style: 'display:none'}
            .lightbox-header
              %button.close{"type" => "button", "data-dismiss"=>"lightbox", "aria-hidden" => true} &times;
            .lightbox-content
              =image_tag result[:poster].url.w640.url
              .lightbox-caption
                %p= result[:poster].text
        %td
          - if result[:poster].party == result[:answered]
            %i.icon-ok-circle.text-success
          - else
            %i.icon-ban-circle.text-error
        %td= result[:answered].display_name
        %td= result[:poster].party.display_name

- else
  .poster-text= simple_format(@run.current_poster.text)

  .well.well-small.centered
    - parties = @run.easymode? ? Party.easy : Party.all
    - parties.sort_by(&:display_name).each do |party|
      = link_to party.display_name, answer_run_path(answer: party), method: :post, class: 'btn btn-primary party-select'

